html {
	height: 100%;
}

.base-page {
	font-family: 'Ariel', sans-serif;
}

.base-heading {
	width: 100%;
}

.base-heading h1 {
	display: block;
	margin-left: 20px;
	text-align: left;
	font-size: 40px;
	padding: 0px 0px;
	color: orange;
}

#headnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
}

#headnav li {
    float: right;
    width: 10%
}

#headnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#headnav li a:hover {
    background-color: #e59400;
}