html {
	height: 100%;
}

.base-page {
	font-family: 'Ariel', sans-serif;
}

.base-heading {
	width: 100%;
}

.base-heading h1 {
	display: block;
	margin-left: 20px;
	text-align: left;
	font-size: 40px;
	padding: 0px 0px;
	color: orange;
}

#headnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
}

#headnav li {
    float: right;
    width: 15%;
}

#headnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#headnav li a:hover {
    background-color: #e59400;
}

.user_form {
    margin: 0% 30%;
    margin-top: 1vw;
    width: 40%;
    border: 1px orange solid;
    text-align: left;
}

.fave_form {
    margin: 0% 20%;
    margin-top: 1vw;
    width: 60%;
    border: 1px orange solid;
    text-align: left;
}

.user_form h4, .fave_form h4 {
    display: block;
    padding: 2% 2%;
    margin-top: 0;
    background-color: orange;
    color: white;
}

.user_form table {
    width: 100%;
    padding: 0% 15%; 
}

.user_form ul, .fave_form ul {
    list-style-type: none;
}

.form-list-fave {
    list-style-type: none;
    padding-left: 0%;
    padding-right: 5%;
}

#sub-button {
    margin: 1% 10%;
    width: 20%;
    height: 2vw;
    background-color: orange;
    color: white;
    font-size: 1.2vw;
}

.feed-box {
    width: 60%;
    margin: 0% 20%;
    text-align: left;
    height: 29vh;
    overflow: scroll;
    border: 1px orange inset;
}

.feed-head, .feed-box strong, .feed-box a {
    color: orange;
    text-decoration: none;
}

.feed-head {
    width: 60%;
    margin: 1% 20%;
    text-align: left;
}
